@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    /*background: linear-gradient(to top left, #a3eee5, #a3eee5, #f0eeee);*/
    /*min-height: 1080px;*/

    background: #f0eeee;
}



/*Nav Begin*/
.navbar {
    background:#449c73;
}

.nav-link, .navbar-brand {
    color: #faf6ea;
    transition: 0.15s;
}

.nav-link__project {
    color: #5f7f9e;
    transition: 0.15s;
}

.nav-link__project:hover {
    color:#449c73;
}

.project-title, .page-title {
    color: #092a3a;
}

.nav-link:hover, .navbar-brand:hover {
    color: #ffb25b;
}

.nav .nav-link:hover{
    transform: scale(1.1);
}
/*Nav END*/



/*Card Begin*/
.card {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 1em 0 1em 0;
}

.card-header, .project-header {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-header:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card__profile {
    margin: 1em;
    background: transparent;
}

.card__image {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 6em ;
    width: 12em;
    height: 12em;
}

.card-text {
    color:#092a3a;
}
/*Crd END*/

